.hideContactForm {
    display: none;
}

.contactForm-group {
    margin-bottom: 15px;
}

.contactus-text {
    padding-bottom: 2rem;
}

.contactus-form {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;

    background-color: #e29c5d;

    min-width: 11.66rem;
}

.contactForm-control {
    padding: 0.6rem;
    margin-bottom: 0.5rem;

    width: 100%;
}

.textmsg {
    padding: 1.5rem;
}

.required-contactForm {
    padding-left: 1rem;

    color: gray;

    font-size: 1rem;
    font-style: italic;
}

.non-valid {
    grid-column-start: 2;

    margin-bottom: 0.3rem;

    color: red;
}

.submit-button-contactPage {

    justify-content: center;
    align-items: center;

    padding: 1rem;
    border-radius: 1rem;

    background-color: black;
    color: white;

    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
    width: 69%;
}

.button-contactPage {
    text-align: center;
}

