.footerlinks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding-left: 0.3rem;
    margin: 0;

    background-color: black;

    list-style: none;
}

.footerlinks__item {
    grid-column: span 12;

    padding: 0.7rem;
    margin: 0.3rem;

    font-size: 0.85rem;
    text-align: center;
}

.footerlinks__item a {
    color: white;

    text-decoration: none;
}

.footerlinks__item a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 45rem) {
    .footerlinks__item {
        grid-column: span 4;
        align-items: center;

        padding: 1.3rem;

        text-align: center;
    }
}